name: Publish
on:
  release:
    types:
      - created

jobs:
  binaries:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: linux
            label: ubuntu-20.04
            extension: ''
          - platform: macos
            label: macos-10.15
            extension: ''
          - platform: windows
            label: windows-2019
            extension: '.exe'
    runs-on: ${{ matrix.label }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Build binaries
        run: cargo build --release
      - name: Upload quench
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./target/release/quench${{ matrix.extension }}
          asset_name: quench-${{ matrix.platform }}${{ matrix.extension }}
          asset_content_type: application/octet-stream

  crates-io:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Publish
        run: cargo publish --token ${{ secrets.CARGO_TOKEN }}
      - name: Ensure empty Git status
        run: "$GITHUB_WORKSPACE/report_git_status.sh"

  vscode-marketplace:
    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: editors/code
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Node
        uses: actions/setup-node@v2
        with:
          node-version: 15
      - name: Install dependencies
        run: npm install
      - name: Publish
        run: npx vsce publish --baseImagesUrl="https://github.com/quench-lang/quench/raw/${GITHUB_REF#refs/tags/}/editors/code"
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
      - name: Ensure empty Git status
        run: "$GITHUB_WORKSPACE/report_git_status.sh"
